* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  height: 100vh;
}

#content {
  display: grid;
  grid-template-columns: 250px 1fr;
  height: 100vh;
}

#projectSidebar {
  background: #443e3b;
  border-right: 1px solid #ecd4c0;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-item {
  padding: 8px 10px;
  border-radius: 6px;
  cursor: pointer;
  color: #ecd4c0
}

.project-item:hover {
  background: #947d6b;
}

#todoContainer {
  background: #9e8c82;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.todo-item {
  padding: 12px;
  border-bottom: 1px solid #ecd4c0;
}

#addTaskBtn {
  position: fixed;

  bottom: 30px;
  right: 30px;

  width: 60px;
  height: 60px;

  border-radius: 50%;
  border: none;

  font-size: 30px;

  background: #43b853;
  color: rgb(255, 255, 255);

  cursor: pointer;
}

#todoModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0,0,0,0.4);

  /* hidden by default */
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

#todoModal.show {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

#todoForm {
  background: #9e8c82;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #43b853;
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 300px;
}

#todoForm>button {
    background-color: #43b853;
}